{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ETC Nepal{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{% static 'front/js/tailwind.js' %}"></script>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@^3/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="{% static 'front/css/app.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</head>

<body class="bg-gray-100">

    <section class="bg-gray-50 ">
        <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
            <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 ">
                <!-- <img class="h-20 w-20 mr-2" src="http://127.0.0.1:8000/static/front/assets/images/logo.png" alt="logo"> -->
                ETC NEPAL
            </a>
            <div class="w-full bg-white rounded-lg shadow  md:mt-0 sm:max-w-md xl:p-0 ">
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                    <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
                        Sign in to your account
                    </h1>
                    {% if messages %}
                    <ul id="message-list" class="transition-opacity duration-500 opacity-100">
                        {% for message in messages %}
                        {% if message.level == 25 %} {# SUCCESS level #}
                        <li class="text-black bg-green-100 p-2 rounded">{{ message }}</li>
                        {% elif message.level == 40 %} {# ERROR level #}
                        <li class="text-black bg-red-100 p-2 rounded">{{ message }}</li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <form class="space-y-4 md:space-y-6" method="POST" action="/certificate/login/">
                        {% csrf_token %}
                        <div>
                            <label for="name" class="block mb-2 text-sm font-medium text-gray-900 ">Your name</label>
                            <input type="name" name="name" id="name"
                                class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 "
                                placeholder="Enter your Username" required="">
                        </div>
                        <div>
                            <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Password</label>
                            <input type="password" name="password" id="password" placeholder="••••••••"
                                class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
                                required="">
                        </div>
                        <!-- <div class="flex items-center justify-between">
                            <div class="flex items-start">
                                <div class="flex items-center h-5">
                                    <input id="remember" aria-describedby="remember" type="checkbox"
                                        class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 "
                                        required="">
                                </div>
                                <div class="ml-3 text-sm">
                                    <label for="remember" class="text-gray-500">Remember me</label>
                                </div>
                            </div>
                        </div> -->
                        <button type="submit"
                            class="w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Sign
                            in</button>

                    </form>
                </div>
            </div>
        </div>
    </section>

</body>
<script>
    // Set a timeout to hide the message after 5 seconds (5000 milliseconds)
    setTimeout(function () {
        const messageList = document.getElementById('message-list');
        if (messageList) {
            messageList.classList.remove('opacity-100');
            messageList.classList.add('opacity-0');
            setTimeout(function () {
                messageList.classList.add('hidden');
            }, 500);
        }
    }, 5000); // 5000 milliseconds = 5 seconds
</script>

</html>