<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Certificate</title>
</head>

<body class="">
    <div class="certificate-container body-background">

        <section>
            <div class="d-flex justify-around">
                <div>
                    <img class="image-1" src="./assets/Emblem_of_Nepal.svg.png" alt="">
                </div>
                <div class="text-center">
                    <p class=" m-1 p-1 text-red sub-title">{{ municipality_np }}</p>
                    <p class=" m-1 p-1 text-red title">{{ office_name_np }}</p>
                    <p class=" m-1 p-1 text-red sub-title">{{ district_np }}</p>
                    <p class=" m-1 p-1 text-red sub-title">प्रमाण-पत्र</p>
                </div>
                <div>
                    <img class="image-passport" src="{{ image }}" alt="">
                </div>
            </div>
        </section>

        <section>
            <p class="m-1 p-1 text-caption">प्रमाण-पत्र न: ____________</p>
        </section>

        <section>
            <p class="text-bold">कठहरी गाउँपालिकाको कार्यालय मोरङको आर्थिक सहयोगमा एक्सपर्ट टेक्निकल कलेज नेपाल प्रा.
                लि. इटहरीको सहकार्यमा
                मिति २०७९/१०/२३ गते देखि २०७९/११/२३ गतेसम्म सञ्चालन भएको मोबाइल मर्मत सम्बन्धी तालिममा कठहरी
                गाउँपालिकाका वडा नं १, मोरङ
                बस्ने {{parent_name_np}}का छोरा {{ trainee_gender_np }} {{ trainee_name_np }}लाई सफलतापूर्वक सिप हासिल
                भएकोले स–धन्यवाद सहित
                यो
                प्रमाण–पत्र प्रदान गरिएको छ।
            </p>
        </section>


        <section>
            <div>
                <div class="text-center">
                    <p class=" m-1 p-1 text-red sub-title">{{ municipality }}</p>
                    <p class=" m-1 p-1 text-red title">{{ office_name }}</p>
                    <p class=" m-1 p-1 text-red sub-title">{{ district_np }}</p>
                    <p class=" m-1 p-1 text-red sub-title">CERTIFICATE</p>
                </div>
            </div>
            <div>
                <p class="text-bold">This certificate is awarded to {{ trainee_gender }} {{trainee_name_np}} Son of {{
                    parent_name }} permanent resident of Katahari Rural Municipality Ward No. 1, Morang on his/her
                    successful
                    completion of training programme and acquiring skills on Mobile Phone Repairing Training for 1 Month
                    from 05 Feb 2023 to 05 March 2023. This training programme is conducted by Expert Technical College
                    Nepal Pvt. Ltd. Itahari with financial support of Katahari Rural Municipality, Morang.</p>
            </div>
        </section>

        <section>
            <div class="d-flex justify-between">
                <div>
                    <img class="signature-image"
                        src="http://127.0.0.1:8000/static/certificate_images/1200px-Todd_Strasser_signature.png" alt="">
                    <hr>
                    <p class="m-1 p-1">प्रशिक्षक </p>
                </div>
                {% for signatory in all_signatory %}
                <div>
                    <img class="signature-image"
                        src="http://127.0.0.1:8000/static/certificate_images/1200px-Todd_Strasser_signature.png" alt="">
                    <hr>
                    <p class="m-1 p-1 text-bold">{{ signatory.name }}</p>
                    <p class="m-1 p-1">{{ signatory.designation }}</p>
                    <p class="m-1 p-1"> {{ signatory.address }}</p>
                </div>
                {% endfor %}

            </div>

        </section>
    </div>

</body>

</html>