{% load static %}
{% load translate_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'pdf/style.css' %}">
    <title>Certificate</title>
</head>

<body>
    <!-- A4 sized certificate container -->
    <div class="certificate-container">
        <!-- Header -->
        <section>
            <div class="header d-flex justify-around align-center">
                <div class="">
                    <img class="image-1" src="{%static 'pdf/Emblem_of_Nepal.svg.png'%}" alt="">
                </div>
                <div class="text-center">
                    <p class="text-red m-1 p-1">{{vocational_first_heading}}</p>
                    <p class="text-red m-1 p-1">{{vocational_second_heading}}</p>
                    <p class="text-blue sub-title m-1 p-1">{{vocational_third_heading}}</p>
                    <p class="text-red title m-1 p-1">{{vocational_fourth_heading}}</p>

                </div>
                <div>
                    <div>
                        <img class="image-2" src="./assets/HEL_Logo_3d_Bangladesh_colour_web.png" alt="">
                    </div>
                    <div>
                        {% if student.image and student.image.url %}
                            <img class="image-passport" src="{{ student.image.url }}" alt="Student Image">
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>

        <!-- Body -->
        <section>
            <div>
                <p>यो प्रमाणपत्र वडा न. {{student.ward_no}} {{student.nepali_district}} जिल्ला निवासी श्री
                    {{student.nepali_father_name}}का {% if student.gender == 'Male' %} छोरा {% else %} छोरी {% endif %}
                    जन्म मिति {{student.date_of_birth_bs}}
                    श्री {{student.nepali_name}} ले {{contract.nepali_name}} अन्तर्गत {% for sponser in sponsors %}
                    {{sponser.name}}, {% endfor %} को
                    प्राविधिक सहयोगमा {{batch.start_date}} देखि {{batch.end_date}} सम्म एक्सपर्ट टेक्निकल कलेज नेपाल
                    प्रा.लि.ले
                    {{contract.nepali_location}}मा सञ्चालित {{contract.nepali_occupation}} बिषयमा सिटिभिटिको
                    {{batch.duration}} को
                    पाठ्यक्रमको तालिममा सहभागी भई सफलतापूर्वक समाप्त गर्नुभएको हुनाले यो प्रमाणपत्र प्रदान गरिएको छ ।
                </p>
            </div>
            <div>
                <p>This is to certify that
                    {% if student.gender == 'Male' %}
                    Mr.
                    {% elif student.gender == 'Female' %}
                    {% if student.marital_status == 'Married' %}
                    Mrs.
                    {% else %}
                    Miss
                    {% endif %}
                    {% else %}
                    Mx.
                    {% endif %}
                    {{student.name}} born on {{student.date_of_birth_ad}}, {% if student.gender == 'Male' %}Son{% else%} Daughter {% endif %}
                    of Mr. {{student.father_name}} and
                    inhabitant of {{student.palika}} Ward No. {{student.ward_no}}, {{student.district}} District has
                    successfully completed the
                    vocational skill training on {{contract.occupation}} from {{batch.start_date}} to {{batch.end_date}}
                    A.D. at {{contract.location}} implemented by Expert Technical College Nepal Pvt. Ltd. under
                    {{contract.name}} and with assistance of {{sponsers}} {% for sponser in sponsors %}
                    {{sponser.name}}, {% endfor %}
                    on {{ batch.duration }} long curriculum based on CTEVT.</p>
            </div>
        </section>

        <!-- Signature Section -->
        <section>
            <div class="d-flex justify-between p-1 header" style="align-items: end;">
                <div class="text-left">
                    <hr width="260px">
                    <p class="m-1 p-1 text-bold">हेमराज दाहाल</p>
                    <p class="m-1 p-1">कार्यकारी निर्देशक</p>
                    <p class="m-1 p-1">एक्स्पर्ट टेक्निकल कलेज नेपाल प्रा. लि.</p>
                    <p class="m-1 p-1">इटहरी, सुनसरी</p>
                </div>
                <div>
                    <p>Date: 2024/04/07</p>
                </div>
                {% for signatory in signatories %}
                <div class="grid place-items-center text-center">
                    <hr class="w-full">
                    <p class="m-1 p-1 text-bold"> {{signatory.nepali_name}}</p>
                    <p class="m-1 p-1"> {{signatory.nepali_designation}}</p>
                    <p class="m-1 p-1"> {{signatory.nepali_institution}}</p>
                </div>
                {% endfor %}
            </div>
        </section>
        <hr>
        <!-- Footer -->
        <section>
            <div class="d-flex justify-between">
                <div>
                    <p>Training implemented by:</p>
                    <img class="image-2" src="{% static 'pdf/logo etc.png' %}" alt="">
                </div>
                <div>
                    {% if student.qr_code %}
                        <img class="image-1" src="{{ student.qr_code }}" alt="QR Code Image">
                    {% endif %}
                </div>
                <div>
                    <p>Training Sponsored by:</p>
                    {% for sponsor in sponsors %}
                    {% if sponsor.logo %}
                    <img class="image-2" src="{{ sponsor.logo }}" alt="{{ sponsor.name }}">
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
    <style>
        @media print {
            .certificate-container {
                margin-left: 0px;
                /* Adjust this value to shift the certificate more or less to the left */
            }
        }
    </style>

    <div id="print-button" style="position: absolute; top: 20px; right: 20px; z-index: 1000;">
        <button onclick="printCertificate()"
            style="padding: 10px 20px; background-color: #007bff; color: white; border: none; border-radius: 5px; cursor: pointer;">Print</button>
    </div>

    <script>
        function printCertificate() {
            var printButton = document.getElementById('print-button');
            printButton.style.display = 'none';
            window.print();
            printButton.style.display = 'block';
        }
    </script>
</body>

</html>