{% extends 'certificate/layout/main.html' %}
{% load static %}
{% block title %}
{{ block.super }} - sponsor
{% endblock %}

{% block content %}

<div class="container mx-auto">
    <div
        class="px-2 py-5 text-lg font-semibold text-left rtl:text-right text-gray-900 flex items-center justify-between gap-10">
        <div>
            <p>Sponser</p>
            <p class="mt-1 text-sm font-normal text-gray-500 ">
                <nav class="flex py-3 text-gray-700 rounded-lg " aria-label="Breadcrumb">
                    <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
                        <li class="inline-flex items-center">
                            <a href="#" class="inline-flex items-center text-sm font-medium text-gray-700">
                                <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                    fill="currentColor" viewBox="0 0 20 20">
                                    <path
                                        d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z" />
                                </svg>
                                Home
                            </a>
                        </li>
                        <li aria-current="page">
                            <div class="flex items-center">
                                <svg class="rtl:rotate-180 w-3 h-3 mx-1 text-gray-700" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="m1 9 4-4-4-4" />
                                </svg>
                                <span class="ms-1 text-sm font-medium text-gray-700 md:ms-2">Sponsor</span>
                            </div>
                        </li>
                        <li aria-current="page">
                            <div class="flex items-center">
                                <svg class="rtl:rotate-180 w-3 h-3 mx-1 text-gray-700" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="m1 9 4-4-4-4" />
                                </svg>
                                <span class="ms-1 text-sm font-medium text-gray-700 md:ms-2">Update</span>
                            </div>
                        </li>
                    </ol>
                </nav>
            </p>
        </div>
    </div>

    <section class="bg-white">
        <div class="py-8 px-4 mx-auto py-5">
            {% if messages %}
            <ul id="message-list" class="transition-opacity duration-500 opacity-100">
                {% for message in messages %}
                {% if message.level == 25 %} {# SUCCESS level #}
                <li class="text-black bg-green-100 p-2 rounded">{{ message }}</li>
                {% elif message.level == 40 %} {# ERROR level #}
                <li class="text-black bg-red-100 p-2 rounded">{{ message }}</li>
                {% endif %}
                {% endfor %}
            </ul>
            {% endif %}

            <!-- Form for sponsor -->
            <form action="/sponsor/update-sponsor/{{edit_sponsor.id}}/" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
                    <div class="w-full">
                        <label for="name" class="block mb-2 text-sm font-medium text-gray-900"> Sponsor Name</label>
                        <input type="text" name="name" id="name"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5"
                            placeholder="Type sponsor Name" value="{{edit_sponsor.name}}" required="">
                    </div>
                    <div class="w-full">
                        <label for="image" class="block mb-2 text-sm font-medium text-gray-900"> Upload Image </label>
                        <input type="file" name="image" id="image"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5">
                            <p class="text-sm text-gray-500 my-5">Current image: <img
                                src="{% if edit_sponsor.image%}{{ edit_sponsor.image.url }}{%endif%}"
                                alt="Current Sponsor Image" class="w-20 h-20 rounded-full object-contain"></p>
                    </div>
                </div>

                <button type="submit"
                    class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200 hover:bg-blue-800">
                    Update Sponsor
                </button>
            </form>
        </div>
    </section>
</div>

{% endblock %}
