{% extends 'certificate/layout/main.html' %}
{% load static %}
{% block title %}
{{ block.super }} - About
{% endblock %}

{% block content %}




<div class="container mx-auto">

    <div
        class="py-5 text-lg font-semibold text-left rtl:text-right text-gray-900 flex items-center justify-between gap-10 ">
        <div class="">
            <!-- <p>
                Batch
            </p> -->
            <p class="mt-1 text-sm font-normal text-gray-500 ">


            <nav class="flex py-3 text-gray-700 rounded-lg " aria-label="Breadcrumb">
                <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
                    <li class="inline-flex items-center">
                        <a href="#" class="inline-flex items-center text-sm font-medium text-gray-700">
                            <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                fill="currentColor" viewBox="0 0 20 20">
                                <path
                                    d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z" />
                            </svg>
                            Home
                        </a>
                    </li>
                    <li aria-current="page">
                        <div class="flex items-center">
                            <svg class="rtl:rotate-180  w-3 h-3 mx-1 text-gray-700" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="m1 9 4-4-4-4" />
                            </svg>
                            <span class="ms-1 text-sm font-medium text-gray-700 md:ms-2">Batch</span>
                        </div>
                    </li>

                    <li aria-current="page">
                        <div class="flex items-center">
                            <svg class="rtl:rotate-180  w-3 h-3 mx-1 text-gray-700" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" d="m1 9 4-4-4-4" />
                            </svg>
                            <span class="ms-1 text-sm font-medium text-gray-700 md:ms-2">Create</span>
                        </div>
                    </li>
                </ol>
            </nav>

            </p>
        </div>

    </div>

    <section class="bg-white">
        {% if messages %}
        <ul id="message-list" class="transition-opacity duration-500 opacity-100">
            {% for message in messages %}
            {% if message.level == 25 %} {# SUCCESS level #}
            <li class="text-black bg-green-100 p-2 rounded">{{ message }}</li>
            {% elif message.level == 40 %} {# ERROR level #}
            <li class="text-black bg-red-100 p-2 rounded">{{ message }}</li>
            {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
        <div class="py-8 px-4 mx-auto py-5">
            <form action="/batch/store-batch/" method="POST">
                {% csrf_token %}
                <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
                    <div class="w-full">
                        <label for="name" class="block mb-2 text-sm font-medium text-gray-900">
                            Batch Name
                        </label>
                        <input type="text" name="name" id="name"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5"
                            placeholder="Type batch name" required="">
                    </div>
                    <div class="w-full">
                        <label for="duration" class="block mb-2 text-sm font-medium text-gray-900">Batch
                            Duration</label>
                        <input type="text" name="duration" id="duration"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5"
                            placeholder="Batch duration" required="">
                    </div>
                    <div class="w-full">
                        <label for="time" class="block mb-2 text-sm font-medium text-gray-900">Batch Time</label>
                        <input type="time" name="time" id="time"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5"
                            placeholder="Batch time" required="">
                    </div>
                    <div class="w-full">
                        <label for="seats" class="block mb-2 text-sm font-medium text-gray-900">Batch
                            Seats</label>
                        <input type="number" name="seats" id="seats"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5"
                            placeholder="Batch seats" required="">
                    </div>
                    <div class="w-full">
                        <label for="contract" class="block mb-2 text-sm font-medium text-gray-700">Contract</label>
                        <select name="contract" id="contract"
                            class="mt-1 block py-2 px-2 w-full rounded-md border border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50 sm:text-sm">
                            <option value="">Select contract</option>
                            {% for contract in batch_contract %}
                            <option value="{{ contract.id }}">{{ contract.name }}</option>
                            {% endfor %}
                        </select>
                        {% if 'batch_trainer' in form.errors %}
                        <p class="text-red-500 text-sm">{{ form.errors.batch_trainer }}</p>
                        {% endif %}
                    </div>
                    <div class="w-full">
                        <label for="trainer" class="block mb-2 text-sm font-medium text-gray-900">Trainer</label>
                        <div id="trainer-fields">
                            <select name="trainer" id="trainer"
                                class="block py-2 px-2 w-full rounded-md border border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50 sm:text-sm">
                                <option value="">Select trainer</option>
                                {% for trainer in batch_trainer %}
                                <option value="{{ trainer.id }}">{{ trainer.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="button" onclick="addTrainerField()"
                            class="mt-2 inline-flex items-center text-blue-600">
                            <svg class="w-4 h-4 mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M12 4v16m8-8H4"></path>
                            </svg>
                            Add another trainer
                        </button>
                    </div>
                </div>
                <button type="submit"
                    class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200 hover:bg-blue-800">
                    Submit Batch
                </button>
            </form>
        </div>
    </section>
</div>
<script>
    function addTrainerField() {
        var trainerFields = document.getElementById('trainer-fields');
        var newField = document.createElement('div');

        newField.classList.add('mt-2');
        newField.innerHTML = `
      <select name="trainer" class="block py-2 px-2 w-full rounded-md border border-gray-300 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-500 focus:ring-opacity-50 sm:text-sm">
        <option value="">Select trainer</option>
        {% for trainer in batch_trainer %}
          <option value="{{ trainer.id }}">{{ trainer.name }}</option>
        {% endfor %}
      </select>
      <button type="button" onclick="removeTrainerField(this)" class="mt-2 inline-flex items-center text-red-600">
        <svg class="w-4 h-4 mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
        Remove
      </button>
    `;

        trainerFields.appendChild(newField);
    }

    function removeTrainerField(button) {
        button.parentElement.remove();
    }
</script>


{% endblock %}