/* Set A4 size in landscape mode */
@page {
    size: A4 landscape;
    margin: 0;
}

.body-background {
    background-image: url('./assets/Emblem_of_Nepal.svg.png');
    background-size: 600px; /* Adjust the size to make it smaller */
    background-repeat: no-repeat;
    background-position: center; /* Transparent color overlay */
    background-blend-mode: lighten; /* Blend the transparent color with the image */
}

.certificate-container{
    /* border: 4px solid #5e0000; */
    padding: 250px;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 60px;
}

/* Ensure the main content fits within the A4 page size */
section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image-1 {
    width: auto;
    height: auto;
    max-height: 100px;
}

.image-2 {
    width: auto;
    height: 50px;
    max-height: 50px;
}

.image-3 {
    width: auto;
    height: 90px;
    max-height: 90px;
}

.signature-image {
    width: auto;
    height:60px;
    max-height:60px;
}

.image-passport {
    width: 80px;
    height: 100px;
    object-fit: cover;
    border: 1px solid #000;
    border-radius: 2px;
    margin-top: 1.25rem;
}   

.text-red {
    color: rgb(133, 0, 0);
    font-weight: 700;
}

.text-blue {
    color: rgb(0, 0, 88);
    font-weight: 700;
}
.text-bold{
    font-weight: 700;
    font-size: 14px;
}

.d-flex {
    display: flex;
}

.title {
    font-size: 18px;
    font-weight: 700;
}

.sub-title {
    font-size: 14px;
    font-weight: 700;
}

.text-caption {
    font-size: 10px;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.m-1 {
    margin: 2px !important;
}

.p-1 {
    padding: 2px !important;
}

.justify-around {
    justify-content: space-around;
}

.justify-between {
    justify-content: space-between;
}

.header{
    height: 170px;
}

.footer{
    height: 100%;
}

.align-center {
    align-items: center;
}

.signature-line {
    width: 50%;
}

@media print {

    /* Force landscape orientation */
    @page {
        size: A4 landscape;
        margin: 0;
        /* Remove default margins */
    }

    /* Full page print without any margin */
    body {
        margin: 0;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 97vh;
        /* Full viewport height */
    }

    /* Hide the print button during printing */
    button {
        display: none;
    }

    /* Ensure the certificate container is centered and scaled to fit the page */
    .certificate-container {
        width: 100%;
        /* Adjust the width for scaling */
        height: 100%;
        max-height: 100%;
        /* Ensure it fits vertically */
        padding: 60px;
        box-sizing: border-box;
        /* Ensure padding is included in width/height */
        
    }

    .title span {
        color: white !important; /* Ensure text color stays white */
        background-color: rgba(0, 0, 0, 0); /* Set transparent or solid background if needed */
        z-index: 1000; /* Increase z-index to ensure overlay */
    }
}