{% extends 'front/layout/main.html' %}
{% load static %}
{% block title %}
{{ block.super }} - About
{% endblock %}

{% block content %}
<div class="header px-14 py-14">
    
    <div class="title-content">
        <h1 class="text-3xl font-bold text-yellow-600">About Us</h1>
        <span class="text-gray-500">Find out our publications published by our team members</span>
    </div>
    <nav class="absolute  bg-yellow-600 bg-opacity-50 text-white p-3 rounded-md m-4 w-max" aria-label="breadcrumb">
        <ol class="list-reset flex text-left">
            <li><a href="/" class="hover:text-blue-300">Home</a></li>
            <li><span class="mx-2">/</span></li>
            <li><a href="/about/" class="hover:text-blue-300">About</a></li>
            <li><span class="mx-2">/</span></li>
            <li>About etc </li>
        </ol>
    </nav>
</div>

<div>
    <section class="px-12 mt-6 p-6 space-y-8 md:px-24">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
            <!-- Text Section -->
            <div class="col text-justify">
                <h1 class="text-3xl font-bold" id="intro1">A brief introduction of ETC.</h1>
                <p class="text-muted-foreground mt-4" id="desc1">

                    Expert Technical College Nepal (ETC Nepal) Pvt. Ltd.is registered under company act and recognized
                    by CTEVT to conduct the vocational skill training with a standard training curriculum. In 2071 BS,
                    it has established its head office in Itahari, Sunsari District. It has one building with two
                    storied with 10 rooms at its head office. It has practical labs, practical field. Its branch office
                    has also separate rooms for all trades of training; practical lab and open field for training.

                </p>

            </div>

            <!-- Image Section -->
            <div class="col flex items-center">
                <img src="{% static 'images/hero1.jpg' %}" alt="ETC" class="w-full h-auto rounded-lg object-cover"
                    style="border: 5px solid #f59e0b;">
            </div>

        </div>
        <p class="text-justify mt-4" id="desc2">
            Expert Technical College Nepal (ETC) has aimed to facilitate school leavers, poor and women and marginalized
            youth providing them skill training with on the Job training (OJT), assisting them to generate
            self-employment and find employment in domestic and international labour market. Its primary objective is to
            produce qualified semi-skilled and skilled technical workforce as per the demand of the market placing them
            in real field of practice like On The Job training (OJT). The main thrusts of the company are quality
            service delivery, sustainability, competitiveness, innovative technologies, employability and research and
            development. The training, counselling, promoting, research and development are the means the company uses
            to mainstream and empower the target group. The school dropouts, out-of-school youths, job aspirant
            unskilled youths, industrial workers, youths from disadvantaged group (DAG), Dalit, women, conflict affected
            and internally displaced groups are our primary focus.
        </p>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
            <!-- Image Section -->
            <div class="col flex items-center">
                <img src="{% static 'images/about.jpg' %}" alt="ETC" class="w-full h-auto rounded-lg object-cover"
                    style="border: 5px solid #f59e0b;">
            </div>

            <!-- Text Section -->
            <div class="col text-justify">
                <p class="text-muted-foreground mt-4" id="desc3">
                    The major objectives of ETC are to assess and update labour market information; to explore
                    feasibility of new trade of training; to impart training to the unemployed youths as per local and
                    global market demand; and to support the trainees for placement i.e. wage employment and creation of
                    self-employment. Up to now, it has been working in thirteen districts of eastern development region
                    but it aims to work all over Koshi & Madhesh Provence of Nepal. It has been delivering its services
                    to its targeted population from grassroots to district level for their upliftment through market
                    oriented skills training. Besides this, it has been providing social services through various lobby,
                    advocacy, awareness/sensitization and training programs on the issue of women’s human rights.

                    <br>
                    <br>

                    ETC assesses the demands of the local and global labour market and disseminate information regarding
                    the market needs. The youths who are in search of vocational skill development for employment come
                    in touch with ETC and they are enrolled in trades of their choices. Besides this, ETC also works
                    through local partners i.e. NGOs, DDCs, Rural Municipalities, Municipalities, INGOs, and government
                    line agencies. Up to now, ETC has collaborated with local governments, HELVETAS Nepal, SaMi,
                    ENSSURE/ CTEVT, CTEVT province 1 & 2, Ministry of Social Development, Youth creation Sunsari, DDC,
                    RSDC, Care Nepal/CSP, GIZ, Lutheran World Federation, Nepal Red Cross Society, IRC Nepal, Multi
                    Skill, The Asia Foundation, NCDC, Karuna Foundation, EVENT/ MoE, VSDTA, Gharelutatha San Udhyog
                    Udayapur, and Sunsari, Sahara Nepal/RMDC in conducting skill development training in various trades
                    in different geographical location of the country.
                </p>

            </div>
        </div>
        <p class="text-justify mt-4" id="desc4">
            <!-- ETC assesses the demands of the local and global labour market and disseminate information regarding the market needs. The youths who are in search of vocational skill development for employment come in touch with ETC and they are enrolled in trades of their choices. Besides this, ETC also works through local partners i.e. NGOs, DDCs, Rural Municipalities, Municipalities, INGOs, and government line agencies. Up to now, ETC has collaborated with local governments, HELVETAS Nepal, SaMi, ENSSURE/ CTEVT, CTEVT province 1 & 2, Ministry of Social Development, Youth creation Sunsari, DDC, RSDC, Care Nepal/CSP, GIZ, Lutheran World Federation, Nepal Red Cross Society, IRC Nepal, Multi Skill, The Asia Foundation, NCDC, Karuna Foundation, EVENT/ MoE, VSDTA, Gharelutatha San Udhyog Udayapur, and Sunsari, Sahara Nepal/RMDC in conducting skill development training in various trades in different geographical location of the country. -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
            <!-- Text Section -->
            <div class="col text-justify">
                <h1 class="text-3xl font-bold" id="intro2">Mission</h1>
                <p class="text-muted-foreground mt-4" id="2desc1">

                    Committed in upgrading the social, organizational and technical skills of
                    the local people and conducting research, capacity building, vocational
                    skill training and employment activities with high professional ethics in
                    different sectors with modern technologies to contribute to the efforts of
                    overall nation building in a sustainable manner. Main vision is to reduce
                    poverty of country's people by providing different types of vocational skill
                    training.
                    <br>
                    <br>
                </p>

            </div>

            <!-- Image Section -->
            <div class="col flex items-center">
                <img src="{% static 'images/home.jpg' %}" alt="ETC" class="w-full h-auto rounded-lg object-cover"
                    style="border: 5px solid #f59e0b;">
            </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
            <!-- Image Section -->
            <div class="col flex items-center">
                <img src="{% static 'images/hero2.jpg' %}" alt="ETC" class="w-full h-auto rounded-lg object-cover"
                    style="border: 5px solid #f59e0b;">
            </div>

            <!-- Text Section -->
            <div class="col text-justify">
                <h1 class="text-3xl font-bold" id="intro2">Vision</h1>
                <p class="text-muted-foreground mt-4" id="2desc3">
                    ETC Pvt. Ltd. emerged with a mission to deliver an expertise and
                    professional services and inputs in the field of innovative skill enhancement
                    training keeping view on environment friendly infrastructure and social
                    development for the enhancement of rural livelihoods. Its main mission is to
                    deliver quality training to poor people and make them self, wage
                    employment. <br> <br>
                </p>
            </div>
        </div>



        <div class="mt-8">
            <div class="bg-blue-100 p-6 rounded-lg">
                <div class="flex items-center space-x-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="w-6 h-6 text-blue-600">
                        <circle cx="12" cy="12" r="10"></circle>
                        <circle cx="12" cy="12" r="6"></circle>
                        <circle cx="12" cy="12" r="2"></circle>
                    </svg>
                    <h2 class="text-xl font-semibold" id="our_goal">Our Goal</h2>
                </div>
                <p class="mt-4 text-muted-foreground" id="our_goal_desc">
                <ul class="mt-4 space-y-2 text-muted-foreground list-disc list-inside">
                    <li id="our_objectives_desc1">
                        Provide technical and vocational trainings which are focused for the direct
                        employment
                    </li>
                    <li id="our_objectives_desc2">
                        Provide quality training which enables the youth to compete with others in current market.
                    </li>
                    <li id="our_objectives_desc3">
                        Increase the employability of the school dropout and unemployed youths through vocational
                        trainings
                    </li>
                    <li id="our_objectives_desc4">
                        Provide counselling services for unemployed youths to choose a better career path.
                    </li>
                    <li id="our_objectives_desc5">
                        Create employment and livelihood opportunities for unemployed youths.
                    </li>
                    <li id="our_objectives_desc7">Provide counselling services for trainees willing to go abroad for
                        foreign employment.</li>
                    <li id="our_objectives_desc8">Provide trainings, workshops, seminars on various sectors of
                        vocational trainings</li>
                    <li id="our_objectives_desc9">Prepare books, manuals, notes, brochures based on the job market after
                        the proper research.</li>
                </ul>
                </p>
            </div>
            <!-- <div class="bg-green-100 p-6 rounded-lg">
                <div class="flex items-center space-x-4">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="w-6 h-6 text-green-600">
                        <path d="M2 12s3-7 10-7 10 7 10 7-3 7-10 7-10-7-10-7Z"></path>
                        <circle cx="12" cy="12" r="3"></circle>
                    </svg>
                    <h2 class="text-xl font-semibold" id="our_objectives">Our Expertise</h2>
                </div>
                <ul class="mt-4 space-y-2 text-muted-foreground list-disc list-inside">
                    <li id="our_objectives_desc1">
                        <b>Construction: </b>
                        Mason, Plumber, Furniture, Marker, Professional Plumber, Professional Mason
                    </li>
                    <li id="our_objectives_desc2">
                        <b>Electronics: </b>
                        Mobile Phone Repairer, Computer Hardware Technician
                    </li>
                    <li id="our_objectives_desc3">
                        <b>Electrical: </b>
                        Building Electrician (L1 & L2), Industrial Wiring, Micro Hydropower Technician, Solar
                        Technician, Mobile Phone Repairer, 3 phase wiring, Professional Building Electrician, Electric
                        Motor Rewinder
                    </li>
                    <li id="our_objectives_desc4">
                        <b>Mechanical: </b>
                        Welder, Arc Welder, Aluminium Fabricator, Refrigeration and Air Condition Mechanic , Motor
                        Rewinder
                    </li>
                    <li id="our_objectives_desc5">
                        <b>Education: </b>
                        Early Childhood Development, Montessori
                    </li>
                    <li id="our_objectives_desc6">
                        <b>Others: </b>
                        Tailor Master, Beautician, Montessori
                    </li>
                    <li id="our_objectives_desc6">
                        <b>Computer: </b>
                        Computer Operator
                    </li>

                    <li id="our_objectives_desc6">
                        <b>Automobile: </b>
                        Motorcycle Service Mechanic ( L1 and L2)
                    </li>

                    <li id="our_objectives_desc6">
                        <b>Agriculture: </b>
                        Offseason Vegetable, Assistant Gardener, Community Livestock Assistant, Junior Technical
                        Assistant (Poultry-L2), Junior Technical Assistant (Vegetable-L2)
                    </li>
                </ul>
            </div> -->
        </div>

        <div class="grid grid-cols-3">
            <!-- Image Section -->

            <!-- Text Section -->
            <div class="col text-justify col-span-3 gap-10">
                <h1 class="text-3xl font-bold" id="intro2">Organizational Chart</h1>
                <p class="text-muted-foreground mt-4" id="2desc3">
                    
                    We have a Managing Director under the Management board who will lead the completely training
                    programs; also called Project Coordinator for any project. One Training Coordinator will depute
                    under the Managing Director. District wise field officers will be appointed to work closely
                    with the instructors, communities and trainees who will coordinate
                    directly with Training Coordinator. Lead Instructors/Co- instructors will
                    be managed insuring 2 instructors for a group of 20 trainees in a subject. Administration and
                    Finance manager will be deputed in the centre to manage all the logistics, administration and
                    financial activities; an administrative officer and an accountant will work under the direct
                    supervision of the Project Coordinator. There will be placement and counselling officer, data
                    base officer, receptionist and office assistants as supporting staff. A Life skill & Business
                    skill Instructor will be appointed for the outreach activities, gender sensitization, and social
                    inclusion; counselling and placement supports under the supervision Counsellors and placement
                    support officers will also work in this unit. <br> <br>
                </p>
            </div>

            <div class="col flex items-center col-span-3 ml-5">
                <img src="{% static 'images/organizational_chart.jpg' %}" alt="ETC" class="w-full h-auto rounded-lg object-cover"
                    style="border: 5px solid #f59e0b;">
            </div>
        </div>
    </section>
</div>

{% endblock %}