{% extends 'front/layout/main.html' %}

{% block title %}Image Gallery{% endblock %}

{% block content %}
<div class="header px-14 py-14">
    <div class="title-content">
        <h1 class="text-3xl font-bold text-yellow-600">Image Gallery</h1>
        <span class="text-gray-500">Explore the publications and projects brought to you by our dedicated team
            members.</span>
    </div>
</div>

<div class="news-container px-14">
    <div class="flex flex-wrap">
        {% if images %}
        <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
            {% for image in images %}
            <a href="/image/image/{{ image.id }}/">
                <div class="relative overflow-hidden rounded-lg h-72 group">
                    <img class="object-cover w-full h-full" src="{{ image.cover.url }}" alt="{{ image.title }}">
                    <div class="absolute inset-0 bg-black bg-opacity-50 flex flex-col justify-end p-4 opacity-0 group-hover:opacity-100 transition-opacity duration-300">
                        <p class="text-white text-lg font-bold absolute top-4 left-4">{{ image.title|truncatechars:50 }}</p>
                        <p class="text-white text-sm absolute bottom-4 left-4">{{ image.created_at|date:"M d, Y" }}</p>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
        {% else %}
        <div class="flex justify-center items-center w-full py-8">
            <p class="text-lg text-gray-600">No images available at the moment.</p>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}
